/* Define custom font */
@font-face {
  font-family: 'mpingana';
  src: url('fonts/CuteGorilla.ttf');
}

/* CSS Variables for theme colors */
:root {
  --primary-color: #568202;
  --secondary-color: #140b47;
  --background-color: #3d4f50;
  --button-bg-color: #486939;
  --button-hover-bg-color: #2c5638;
  --text-color: #000;
  --footer-background-color: #5b1f1f;
  --icon-color: #fff;
}

/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define font families */
body {
  font-family: 'Bitter', serif, 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */
.logo {
  width: 19%;
  float: left;
  line-height: 99px;
  text-align: left;
}

.logo a {
  text-decoration: none;
  font-size: 34px;
  color: var(--primary-color);
  letter-spacing: 3px;
  font-weight: bold;
}

/* Navigation Styles */
nav {
  display: flex;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul {
  list-style: none;
}

.nav-links ul li {
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  margin: 4px;
}

.nav-links ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 12px;
}

.nav-links ul li:after {
  content: '';
  width: 0;
  height: 1px;
  background: var(--secondary-color);
  display: block;
  margin: auto;
  transition: width 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/* Footer Styles */
.footer {
  width: 100%;
  text-align: center;
  padding: 29px 0;
  background-color: var(--footer-background-color);
}

.footer h3 {
  margin-bottom: 24px;
  margin-top: 19px;
  font-weight: 600;
}

.icon .fab {
  color: var(--icon-color);
  margin: 0 13px;
  cursor: pointer;
  padding: 17px 0;
  font-size: 29px;
}

.footer-column {
  color: var(--primary-color);
}

/* Page0 Styles */
.Page0 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 99px;
}

.Page0 h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--secondary-color);
}

.Page0-graph {
  align-items: center;
  flex-basis: 44%;
  background: #3a5d23;
  border-radius: 9px;
  margin-bottom: 4%;
  padding: 19px 12px;
}

.Page0-graph:hover {
  box-shadow: 0 0 20px 0px black;
}

/* Mobile Responsive Styles */
@media (max-width: 699px) {
  .row {
    flex-direction: column;
  }

  .logo {
    width: 100%;
    text-align: center;
    line-height: 50px;
  }

  .nav-links {
    text-align: center;
  }
}

/* Page1 Styles (You can add more styles as needed) */
.Page1-graph {
  flex-basis: 44%;
  background: #f68f99;
  border-radius: 9px;
  margin-bottom: 4%;
  padding: 19px 12px;
}

.Page1-graph:hover {
  box-shadow: 0 0 20px 0px black;
}

.Page1-graph img {
  height: 149px;
  margin-left: 4px;
  margin-right: 29px;
  border-radius: 49%;
}

/* Button Styles */
.button {
  align-self: center;
  background-color: var(--button-bg-color);
  border: none;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--button-hover-bg-color);
  transform: translateY(-3px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dropdown Styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--footer-background-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-links li:hover .dropdown-content {
  display: block;
}
